html, body {
    margin: 0;
}

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 10px;
    height: 100%;
    background-color: #004B97;
}

h1 {
    font-size: 50px;
    letter-spacing: -5px;
    text-align: center;
    margin: 0;
    top: 10%;
    right: 33%;
    color: white;
    position: absolute;
}

h2 {
    font-size: 30px;
    letter-spacing: -1.5px;
    margin: 0;
    top: 70%;
    right: 40%;
    color: white;
    position: absolute;
}

h3 {
    font-size: 40px;
    top: 90%;
    color: black;
    position: absolute;
}
img {
    max-width: 20%;
    top: 25%;
    right: 40.5%;
    position: absolute;
}

#timer {
    font-size: 40px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}